@font-face {
    font-family: 'Upheaval';
    src: url('./fonts/upheavtt.ttf') format('truetype');
}

body {
  color: black; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
  overflow-x: hidden; 
  backdrop-filter: blur(2.4px);
}

html {
  height: 100%;
}

#outerDiv {
  display: flex; 
  justify-content: center;  
  font-family: 'Upheaval'; 
  padding: 0.5rem;
  height: 100%;
}

#mainDiv {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  box-sizing: border-box; 
  background-color: rgb(152, 94, 81); 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-bottom: 1rem; 
  border: 5px solid; 
  border-color: rgb(179, 120, 106);
  font-family: 'Upheaval';
}

#titleName {
  font-size: clamp(2.75rem, 5vw, 5rem); 
  margin: 0; 
  color: white; 
  text-align: center; 
  font-weight: normal
}

#floornamep {
  font-size: clamp(1.25rem, 5vw, 1.75rem); 
  margin: 0.5rem 0;
}

#verticalContentDiv {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  gap: 1.25rem;
  position: relative;
}

#topbar {
  width:100%;
}

#bombsRemaining {
  font-size: clamp(1.25rem, 5vw, 1.5rem); 
  white-space: pre-line; 
  position: absolute;
  top: 0;  /* Stick it to the top of the parent container */
  left: 0; /* Stick it to the left side of the parent container */
}

.mute-button-container {
  position: absolute;
  top: 0.6rem; /* Stick it to the top */
  right: 0; /* Stick it to the right */
  display: inline-block;
  height: 42px;
  width: 36px;
}

.mute-button {
  background-image: url('images/volume-up-fill.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
}

#gameCanvas {
  margin-top: 2.5rem;
  position: relative;
  border: 5px solid; 
  border-color: rgba(179, 120, 106); 
  background-color: rgba(70, 39, 33, 0.3); 
}

.buttons {
  display: flex; 
  align-items: center; 
  justify-content: space-evenly; 
  flex-grow: 1; 
  flex-direction: row; 
  padding-bottom: 0rem; 
  padding-top: 0.2rem;
  width:100%
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgb(179, 120, 106); /* Solid border with the specified color */
  background-color: rgba(70, 39, 33, 0.3); /* Semi-transparent background */
  color: rgb(179, 120, 106); /* Text color to match the border */
  font-size: 16px;
  font-family: 'Upheaval';
  color: black;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  color: white;
}

.image-button-container {
  position: relative;
  display: inline-block;
  width: 165px;
  height: 54.6px;
}

.image-button-container-2 {
  position: relative;
  display: inline-block;
  width: 145px;
  height: 54px;
}

.image-button-container-3 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 55px;
}

/* Button styled with the background image */
.image-button {
  background-image: url('images/button2.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
}

.image-button-2 {
  background-image: url('images/button4.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
}

.image-button-3 {
  background-image: url('images/rkey.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
}

.image-button-4 {
  background-image: url('images/button6.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
}


#countdownDiv {
  font-size: clamp(1.25rem, 5vw, 1.5rem); 
  text-align: center;
}

#statsDiv {
  font-size: clamp(1.25rem, 5vw, 1.5rem); 
  text-align: center; 
  margin-top: 0rem; 
  border: 5px solid; 
  border-color: rgb(179, 120, 106); 
  padding-left: clamp(1rem, 4vw, 2rem); 
  padding-right: clamp(1rem, 4vw, 2rem); 
  background-color: rgba(70, 39, 33, 0.3);
}

 /* Modal background */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: 15% auto; /* Enable scroll if needed */
  text-align: center;
}

/* Modal content box */
.modal-content {
  background-color: rgb(152, 94, 81);
  margin: 6% auto; /* Center vertically and horizontally */
  padding: 20px;
  border: 5px solid rgb(179, 120, 106);
  width: 85%;
  max-width: 666px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 20px;
  font-family:'Upheaval';
  overflow-y: auto;
  max-height: 65vh;
}

/* Modal background */
.modal-2 {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: 100%; /* Full height */
  overflow: 15% auto; /* Enable scroll if needed */
  text-align: center;
}

/* Modal content box for game over */
.modal-content-2 {
  background-color: rgb(152, 94, 81);
  margin: 95% auto; /* Center vertically and horizontally  THIS IS SCUFFED BUT IT WORKS?!*/
  padding: 10px;
  border: 5px solid rgb(179, 120, 106);
  max-width: 40%;
  max-width: 666px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 20px;
  font-family:'Upheaval';
  overflow-y: auto;
  max-height: 65vh;
}
.close {
  color: rgb(179, 120, 106);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 450px) {
  .image-button-container {
    width: 100px;
    height: 33.1px;
  }

  .image-button-container-3 {
    width: 30px;
    height: 35px;
  }
  
  .image-button {
    font-size: 13px;
  }

  .image-button-2 {
    font-size: 13px;
  }

  .image-button-4 {
    font-size: 13px;
  }

  .modal-content {
    font-size: 16px;
  }

  .modal-content-2 {
    font-size: 16px;
    margin: 65% auto;
  }

  body.endless .modal-content { /*only for endless so modal cntent 2 doesnt need it*/
    font-size: 16px;
    margin: 6% auto;
  }

  
}

