@font-face {
    font-family: 'Upheaval';
    src: url('./fonts/upheavtt.ttf') format('truetype');
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgb(179, 120, 106); /* Solid border with the specified color */
  background-color: rgba(70, 39, 33, 0.3); /* Semi-transparent background */
  color: rgb(179, 120, 106); /* Text color to match the border */
  font-size: 16px;
  font-family: Upheaval;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  color: white;
}

.image-button-container {
  position: relative;
  display: inline-block;
  width: 165px;
  height: 54.6px;
}

/* Button styled with the background image */
.image-button {
  background-image: url('images/button2.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
}

@media (max-width: 480px) {
  .image-button-container {
    width: 100px;
    height: 33.1px;
  }
  
  .image-button {
    font-size: 13px;
  }
}

body{
  min-height: 100vh;
  margin: 0; 
  padding: 0;
 }